* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width:450px;
    height: 550px;
    padding: 10px;
    background-color: grey;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

.display {
    height: 90px;
    border-radius: 10px;
    text-align-last: right;
    font-size: 40px;
    padding: 10px 15px;
    margin: 20px;
    background-color: rgb(196, 196, 196);
}

.keypad {
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(196, 196, 196);
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.keypad > div{
    display: flex;
    flex:1;
    gap:10px;
}

button {
    flex:1;
    font-size: 30px;
    border-radius: 20px;
}

.zero {
    flex: 2 0 5%;
}